---
import Post from "@layouts/Post.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("projects");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const dayOfWeek = entry.data.updated
  ? new Date(entry.data.updated).toLocaleDateString("en-US", {
      weekday: "long",
      month: "long",
      day: "numeric",
      year: "numeric",
    })
  : null;
---

<Post title={entry.data.title}>
  {
    dayOfWeek && (
      <time
        datetime={dayOfWeek}
        class="block dark:text-gray-400 text-gray-600 italic text-sm mb-4"
      >
        Last updated: {dayOfWeek}
      </time>
    )
  }
  <a href={entry.data.link} target="_blank">Project Link</a>
  <div class="prose dark:prose-invert max-w-none">
    <Content />
  </div>
</Post>

<style is:global>
  body {
    @apply md:max-w-[50%] max-w-[90%] mx-auto;
  }
</style>
