---
import Post from "@layouts/Post.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("projects");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Post title={entry.data.title}>
  <h2><a href={entry.data.link} target="_blank">Project Link</a></h2>
  <div class="post-fence">
    <Content />
  </div>
</Post>

<style is:global>
  .post-fence p > code {
    @apply dark:bg-gray-500 dark:text-red-300 bg-gray-300 text-red-600 px-1 py-0.5 rounded-md;
  }

  .post-fence h1 {
    @apply text-3xl font-bold;
  }
  .post-fence h2 {
    @apply text-2xl font-bold;
  }
  .post-fence h3 {
    @apply text-xl font-bold;
  }
  .post-fence h4 {
    @apply text-lg font-bold;
  }
  .post-fence h5 {
    @apply text-base font-bold;
  }
  .post-fence h6 {
    @apply text-sm font-bold;
  }

  .post-fence ol {
    @apply list-decimal list-inside;
  }

  .post-fence li > ol {
    @apply ml-2;
  }

  .post-fence ul {
    @apply list-disc list-inside;
  }
  .post-fence li > ul {
    @apply ml-2;
  }

  .post-fence hr {
    @apply my-4 border-t-2 border-gray-300 dark:border-gray-400 rounded-sm;
  }

  .post-fence blockquote {
    @apply border-l-4 border-gray-300 dark:border-gray-400 pl-2 my-4;
  }

  .post-fence img {
    @apply mx-auto my-4;
  }

  body {
    @apply md:max-w-[50%] max-w-[90%] mx-auto;
  }
</style>
