---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profilePic from "../img/profile.jpg";

import FontAwesomeIcon from "../components/FontAwesomeIcon.astro";
import { faEnvelope } from "@fortawesome/free-solid-svg-icons";
---

<Layout title="mrkirby153.com">
  <div class="flex justify-center pb-5">
    <div class="flex items-center">
      <Image
        src={profilePic}
        alt="Profile Picture"
        class="rounded-full"
        width="128"
        height="128"
      />
      <h1 class="text-4xl pl-4">Hi, I'm mrkirby153</h1>
    </div>
  </div>

  <FontAwesomeIcon icon={faEnvelope} />

  <p>
    I'm a software engineer who's passionate about infrastructure, automation,
    and open source software. While I have a lot of experience working with Java
    and Kotlin, I am always willing to learn something new.
  </p>
  <p>
    For the last few years, I've been a software engineer at <a
      href="https://discord.com"
      target="_blank">Discord</a
    > on the Realtime infrastructure team, building and scaling servers to millions
    of users.
  </p>
  <p>
    Some of the projects that I've worked on include <a
      href="https://kirbot.mrkirby153.com"
      target="_blank">KirBot</a
    > and <a href="https://giveaways.mrkirby153.com" target="_blank"
      >Giveaways</a
    >. Check out the list of projects below for more projects that I've worked
    on.
  </p>

  <h2 class="text-2xl">Projects</h2>
  <p>TODO</p>

  <h2 class="text-2xl">Writings</h2>
  <p>TODO</p>
</Layout>
