---
interface Props {
  title: string;
  compactTop?: boolean;
}

const { title, compactTop } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="mrkirby153.com" />
    <meta name="viewport" content="width=device-width" />
    <meta name="darkreader-lock" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class={compactTop ? "main-content-compact" : "main-content"}>
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    @apply text-[1.2rem];
  }
  a {
    @apply hover:underline dark:hover:text-blue-400 text-blue-600 hover:text-blue-800 dark:text-blue-200 transition ease-in-out;
  }
  p {
    @apply pt-1 pb-1;
  }
</style>

<style>
  html {
    @apply dark:bg-[#303030] dark:text-white;
  }
  .main-content {
    @apply pt-[4rem];
  }

  .main-content-compact {
    @apply pt-[2rem];
  }
</style>
