---
import Layout from "./Layout.astro";
import Nav from "@components/Nav.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title} compactTop={true}>
  <Nav />
  <h1 class="text-4xl mb-2">{title}</h1>
  <slot />
</Layout>
